body {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
    background-image: url("/frenchmemorygamepics/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 20px;
}

#main {

    position: relative;
    width: 100%;
}

h1, h2 {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

h1 {
    color: blue;
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    color: red;
    font-size: 30px;
    text-decoration: underline;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 70%; 
    max-width: 900px;
    cursor: pointer;
    position: relative;
    display: center;
    justify-content: space-evenly;
    align-items: center; 
    margin: 0px auto; 
    margin-bottom: 40px;
    margin-top: 30px;
}

.carreau {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    justify-content: space-between; 
}

.tiles-won{
    pointer-events: none;
}

.unclickable {
    pointer-events: none;
}

.refaireButton {
    border: 2px solid black;
    background-color: white;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin: 0 auto; */
    padding: 10px;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    cursor: pointer;
    width: 100px;
}

#rulesSection {
    font-size: 30px;
    color: rgb(6, 21, 107);
    font-weight: 700;
    background-color: lightgrey;
    padding: 20px;
    width: 700px;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}